<div id="menu">
    <ul>
        <li class="first current_page_item">
            <a href="{{ path('app_game_index') }}">Game</a>
        </li>
        <li>
            <a href="/signup">Register</a>
        </li>
        <li>
            <a href="/signin">Login</a>
        </li>
        <li>
            <a href="{{ path('app_main_contact') }}">Contact</a>
        </li>
    </ul>
    <br class="clearfix" />
</div>
