{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - You're hanged!
{% endblock %}

{% block body %}
    <h2>Game Over!</h2>

    <p>
        Oops, you're hanged... The word to guess was <strong>xilophon</strong>.
    </p>
{% endblock %}
